<h2>Hello User</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="large-8 medium-8 small-12">
  <div class="large-8 medium-8 small-12">
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div class="large-8 medium-8 small-12">
    <br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="large-8 medium-8 small-12 ">
    <%= f.submit :class => "expand button" %>
  </div>
  </div>

<% end %>


<style>
  
// Small screens
@media only screen {
.button {
    width: 100%;
  }


 } /* Define mobile styles */

@media only screen and (max-width: 40em) {

.button {
    width: 100%;
  }

 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { 
.button {
    width: 100%;
  }

  } /* min-width 641px, medium screens */


@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

.button {
    width: 100%;
  }

  } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { 

.button {
    width: 100%;
  }

  } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
.button {
    width: 100%;
  }

  } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {
.button {
    width: 28rem;
  }

 } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
.button {
    width: 100%;
  }

 } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) {
.button {
    width: 100%;
  }

 } /* min-width 1921px, xxlarge screens */

</style>


<%= render "devise/shared/links" %>

