<h1>Product</h1>

<div id="products" data-products="<%= render(template: "products/index.json.rabl") %>">
<% @products.each do |product| %>

	
	<% if product.user == current_user %>
	<div class="post_wrapper">
    <p><%= image_tag product.image.url(:medium) %></p>
    <h2 class="title"><%= link_to product.Name, product %></h2>
    <a class="success button" href="/cart/<%= product.id %>">Add to Cart</a>
	</div>

	<% end %>

	<% end %>
<br>
<br>
<a class="success button" href="products/new" style="width: 100%">New Product</a>

  <%= link_to('Logout', destroy_user_session_path, :method => :delete , :class => "alert button") %>        

