<h1>Product</h1>

<%= form_for @product, html: { multipart: true } do |f| %>
<div class="large-8 medium-8 small-12" style="width:100%"  >
	<%= f.label :Name %>
	<%= f.text_field :Name %>
</div>
<div class="large-8 medium-8 small-12" style="width:100%"  >
	<%= f.label :Mobile_no  %>
	<%= f.text_field :Mobile_no %>
</div>

<div class="large-8 medium-8 small-12" style="width:100%"  >
	<%= f.label :Address %>
	<%= f.text_field :Address %>
</div>


<div class="large-8 medium-8 small-12" style="width:100%"  >
  <%= f.label :price %><br>
  <%= f.number_field :price %>
</div>

<div class="large-8 medium-8 small-12" style="width:100%"  >
  <%= f.label :quantity %><br>
  <%= f.number_field :quantity %>
</div>

<div class="large-8 medium-8 small-12" style="width:100%"  >
  <%= f.label :Upload_Your_Image %><br>
  <%= f.file_field :image %>
</div>

<div class="large-8 medium-8 small-12" style="width:100%"  >
	<%= f.submit :class => 'success button' %>
</div>
<% end %>

<style>
  
// Small screens
@media only screen {
.button {
    width: 100%;
  }


 } /* Define mobile styles */

@media only screen and (max-width: 40em) {

.button {
    width: 100%;
  }

 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { 
.button {
    width: 100%;
  }

  .container {
    width: 100%;
  }



  } /* min-width 641px, medium screens */


@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

.button {
    width: 100%;
  }

  } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { 

.button {
    width: 100%;
  }

  } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
.button {
    width: 100%;
  }

  } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {
.button {
    width: 28rem;
  }

 } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
.button {
    width: 100%;
  }

 } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) {
.button {
    width: 100%;
  }

 } /* min-width 1921px, xxlarge screens */

</style>

